<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipientForm" (ngSubmit)="onSubmit()">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success" [disabled]="!recipientForm.valid">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" formControlName="email" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" formControlName="phone" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="lang">Language</label>
                        <select name="lang" id="lang" formControlName="lang" class="form-control">
                            <option value="English">English</option>
                            <option value="Spanish">Spanish</option>
                            <option value="French">French</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>